/_tasks
.DS_Store
npm-debug.log
node_modules
dist/
dev.
dev/
.idea/
/node_modules。test

gulp-h5-tasks
*.sublime-project
*.sublime-workspace


# 任务中的个人配置，比如个人的 rtx
.gulp_task_config_local


result-original
result-test
admin/
h5/font/fonts/
h5/build/
data/build/
data/build-dev/
data/build-markdown/
data/markdown/
data/markdown-template/
data/markdown-origin-5-24
data/markdown-origin/media/
data/markdown-origin/**/media/
data/json-case-id-bak

tools/creative-json/


.qiniu-config
.config.json

build